[submodule "assets/vendor/twitter-bootstrap"]
	path = assets/vendor/twitter-bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "assets/vendor/font-awesome"]
	path = assets/vendor/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "assets/vendor/lesshat"]
	path = assets/vendor/lesshat
	url = https://github.com/csshat/lesshat.git
[submodule "assets/vendor/jquery"]
	path = assets/vendor/jquery
	url = https://github.com/components/jquery.git
